{{- if gt .Paginator.TotalPages 1 -}}
  <ul class="site-v2-pagination">
    {{- .Scratch.Set "paginator.ellipsed" false -}}
    {{ if $.Paginator.HasPrev }}
      <li>
        <a href="{{ $.Paginator.Prev.URL }}" class="site-v2-pagination__link" rel="prev" aria-label="Page precedente">
          &larr;
        </a>
      </li>
    {{ end }}
    {{- range $.Paginator.Pagers -}}
      {{- $right := sub .TotalPages .PageNumber -}}
      {{- $showNumber := or (le .PageNumber 1) (eq $right 0) -}}
      {{- $showNumber = or $showNumber (and (gt .PageNumber (sub $.Paginator.PageNumber 3)) (lt .PageNumber (add $.Paginator.PageNumber 3))) -}}
      {{- if $showNumber -}}
        {{- $.Scratch.Set "paginator.ellipsed" false -}}
        {{- $.Scratch.Set "paginator.shouldEllipse" false -}}
      {{- else -}}
        {{- $.Scratch.Set "paginator.shouldEllipse" (not ($.Scratch.Get "paginator.ellipsed")) -}}
        {{- $.Scratch.Set "paginator.ellipsed" true -}}
      {{- end -}}
      {{- if $showNumber -}}
        <li>
          <a
            href="{{ .URL }}"
            class="site-v2-pagination__link{{ if eq . $.Paginator }} is-current{{ end }}"
            {{ if eq . $.Paginator }}aria-current="page"{{ end }}>
            {{ .PageNumber }}
          </a>
        </li>
      {{- else if ($.Scratch.Get "paginator.shouldEllipse") -}}
        <li>
          <span class="site-v2-pagination__ellipsis" aria-hidden="true">&hellip;</span>
        </li>
      {{- end -}}
    {{- end -}}
    {{ if $.Paginator.HasNext }}
      <li>
        <a href="{{ $.Paginator.Next.URL }}" class="site-v2-pagination__link" rel="next" aria-label="Page suivante">
          &rarr;
        </a>
      </li>
    {{ end }}
  </ul>
{{- end -}}
