{{ $id := delimit (slice "gallery" (partial "functions/uid.html" .)) "-" -}}
{{ $content := .Inner -}}

{{/* Si aucun contenu n'est passé au shortcode, on génère les <img> depuis les ressources images de la page */}}
{{ if eq (trim $content " \n\r\t") "" -}}
  {{ $cls := default "grid-w50 md:grid-w33 xl:grid-w25" (.Get "class") -}}
  {{ $imgs := slice -}}
  {{ range .Page.Resources.ByType "image" -}}
    {{ $imgs = $imgs | append (printf `<img src="%s" class="%s" />` .RelPermalink $cls) -}}
  {{ end -}}
  {{ $content = delimit $imgs "\n" -}}
{{ end -}}

{{/* find all img tags */}}
{{ range findRE `<img\s+[^>]*>` $content -}}
  {{ $imgTag := . -}}
  {{ with findRESubmatch `src=['"]([^'"]+)['"]` $imgTag -}}
    {{ $srcAttr := index (index . 0) 0 -}}
    {{ $srcValue := index (index . 0) 1 -}}
    {{ $srcValueFinal := $srcValue -}}

    {{ if or (hasPrefix $srcValue "http://") (hasPrefix $srcValue "https://") -}}
      {{ with resources.GetRemote $srcValue -}}{{ $srcValueFinal = .RelPermalink -}}{{ end -}}
    {{ else -}}
      {{ with $.Page.Resources.GetMatch $srcValue -}}
        {{ $srcValueFinal = .RelPermalink -}}
      {{ else -}}
        {{ with resources.GetMatch $srcValue -}}{{ $srcValueFinal = .RelPermalink -}}{{ end -}}
      {{ end -}}
    {{ end -}}

    {{ $newTag := replace $imgTag $srcAttr (printf `src="%s"` $srcValueFinal) -}}
    {{ $content = replace $content $imgTag $newTag -}}
  {{ end -}}
{{ end -}}

<div id="{{- $id -}}" class="gallery">
  {{ $content | safeHTML -}}
</div>
